.heading{
    color: olivedrab;
}
#rct{
    height: 300px;
    width: 300px;
    display: inline-block;
    border: solid;
    border-color: chocolate;
    margin-left: 20px;
    margin-right: 15px;
}
#rcts{
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border-color: brown;
    margin-left: 20px;
    margin-right: 15px;
}
img{
    transition: transform 0.3s ease;
  
}
img:hover{
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    z-index: 1;
}
h2{
    text-align: center;
    color: crimson;
}